/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

/* either figure out why margin: auto is not working or
use media queries to get the elements to sit around: 
  desktop: margin-left: 35%
  mobile: margin-left: 20% */

.existingLoginParent{
  margin-left: 35%;
}

.createUserParent{
  margin-left: 35%;
}

.adminLoginParent{
  margin-left: 35%;
}